@page "/fetchdata"
<select multiple>
    @foreach (var item in myVar)
    {
        <option value="@item.SlctValue" @onclick=@((e) => OptionClickEvent(@item.SlctValue,e))>@item.SlctName</option>
    }
</select>

        @foreach (var holderItem in myHolder)
        {
            @holderItem;
        }



@code {
    private List<string> myHolder = new List<string>();

    private List<SelectModel> myVar = new List<SelectModel>()
   {
      new SelectModel(){ SlctValue = 1, SlctName="One Year" },
      new SelectModel(){ SlctValue = 2, SlctName="Two Year" },
      new SelectModel(){ SlctValue = 3, SlctName="Three Year"},
      new SelectModel(){ SlctValue = 4, SlctName="Four Year" },
   };

    public void OptionClickEvent(int values, MouseEventArgs evnt)
    {
        if (evnt.CtrlKey)
        {
            myHolder.Add(values.ToString());
        }
    }

    public async Task printHolder()
    {
        foreach (var holderItem in myHolder)
        {
       
        }
    }

    public class SelectModel
    {
        public string SlctName { get; set; }
        public int SlctValue { get; set; }
    }

}