@page "/goals"
@inject NavigationManager Navigation

<style>
  table, th, td  {
  overflow-y:scroll;
  border-bottom:1px solid black;
  border-collapse: collapse;
  height: 100px;
  text-align: center;
  background-color: #9370db;
}

</style>
<body>

<h2>Current Goals</h2>

<table style="width:100%">
  
    @foreach(var entry in exampleEntryList)
    {
     <button id="entrytitle" @onclick="() => ChosenEntryNavigation(entry.Title)">
      <tr>
         <th>
          @entry.Title
         </th>
         <td>
          @entry.GoalDescription
         </td>
      </tr>
     </button>
    }
   
</table>
<NavigateButton PageToNavigate="newgoal" NameOfButton="Add New Goal" >
</NavigateButton>

</body>



@code {

    SampleEntryData newEntry = new();
    List<Goal> exampleEntryList = new();


    protected override async Task OnInitializedAsync()
    {
        List<Goal> exEntryList = newEntry.exampleEntryList;
        exampleEntryList = exEntryList;
    }

    public void NavigateNewEntry()
    {
        Navigation.NavigateTo("newgoal");
    }


    public void ChosenEntryNavigation(string entryName)
    {
        Console.WriteLine($"entryTitle attempt to navigate to page {entryName}");
        Navigation.NavigateTo($"goalentry/{entryName}");
    }

}
