@page "/newdayentry/{entryName}"

<body>
    <p>
        <label for="timespent">Time spent on goal: </label>
        <input type="text" @bind="TimeSpent" name="timespent" placeholder="" />
        minutes
    </p>

</body>


@code {
    public int TimeSpent { get; set; }


}
