@*
   This page displays statistics about questions of a goal. It will display a line chart of the questions completed over time. The user may choose the time frame to display the chart for.
*@

@inject GoalDatabase goalDatabase
@inject NavigationManager Navigation

@using ChartJs.Blazor
@using ChartJs.Blazor.Common;
@using ChartJs.Blazor.Common.Axes;
@using ChartJs.Blazor.Common.Axes.Ticks;
@using ChartJs.Blazor.Common.Enums;
@using ChartJs.Blazor.PieChart;
@using ChartJs.Blazor.Util;
@using System.Globalization;


<style>
    .scroll {
        width: 100%;
        padding-bottom: 15px;
    }
</style>

<!-- When switching between different goals in the statistics page, ensure correct goal and data is set -->
@if (goalTitle != selectedGoal.Title)
{
    SetCurrentGoal();
    selectedQuestion = selectedGoal.EntryData.GoalQuestions[0].Question;
    _lineConfig.Options.Title.Text = "Question Data For " + selectedGoal.Title;
    ChangeChart();
}

<!-- Set a single question to display statistics for -->
<select name="questions" id="questions" @onchange="SetSelectedQuestion">
    @foreach (var question in selectedGoal.EntryData.GoalQuestions)
    {
        <option value="@question.Question">  @question.Question </option>
    }
</select>

<div class="scroll">
    <Chart Config="_lineConfig"></Chart>
</div>

<!-- Set the time frame of statistics -->
<div style="padding-bottom: 25px;">  
    @foreach (var timeFrame in timeFrames)
    {
        <button @onclick="() => SetTimeFrame(timeFrame.Key)">@timeFrame.Key</button>
    }
</div>

@code {
    [Parameter]
    public string goalTitle { get; set; }
    private Goal selectedGoal;
    private LineConfig _lineConfig = new();
    private string selectedTimeFrame = "1M";
    private Dictionary<string, int> timeFrames = new()
    {
        { "1M", 1 },
        { "4M", 4 },
        { "1Y", 12 },
        { "ALL", -1 },
    };
    private string selectedQuestion;

    protected override async Task OnInitializedAsync()
    {
        SetCurrentGoal();
        //set initial goal question
        selectedQuestion = selectedGoal.EntryData.GoalQuestions[0].Question;
        //create placeholder chart
        CreateChart();
        //populate placeholder chart with data
        ChangeChart();
    }

    private void SetCurrentGoal()
    {
        selectedGoal = goalDatabase.GetItem(goalTitle);
    }

    private void SetSelectedQuestion(ChangeEventArgs e)
    {
        selectedQuestion = e.Value.ToString();
        ChangeChart();
    }

    private void SetTimeFrame(string timeFrame)
    {
        selectedTimeFrame = timeFrame;
        ChangeChart();
    }

    //Calling this function will update the chart with the correct data, and set the labels.
    private void ChangeChart()
    {
        //clear data and labels in the chart to be replaced by new requested data and labels
        _lineConfig.Data.Datasets.Clear();
        _lineConfig.Data.XLabels.Clear();

        List<GoalQuestion> questionData = GetChartData();
        List<GoalQuestion> chartData = new();
        GoalQuestion selectedGoalQuestion = new();
        DateTime currentDate = DateTime.Now;
        List<string> labels = new();

        //add question data to chart that the user selects to display. limited to up to 1 question
        foreach (var goalQuestion in questionData)
        {
            if (goalQuestion.Question == selectedQuestion)
            {
                chartData.Add(goalQuestion);
            }
        }
        
        LineDataset<int?> ratings = CreateLineDataset(selectedQuestion);
        foreach (var goalQuestion in chartData)
        {
            foreach (var rating in goalQuestion.ListQuestionRatings)
            {
                DateTime labelDate;
                labelDate = DateTime.ParseExact(rating.QuestionAnsweredDate, "dddd, MMMM d yyyy HH:mm:ss", System.Globalization.CultureInfo.InvariantCulture);
                string label = labelDate.ToShortDateString();
                labels.Add(label);
                ratings.Add((int)rating.Rating);
            }
        }
        _lineConfig.Data.Datasets.Add(ratings);

        foreach (var label in labels)
        {
            if (!_lineConfig.Data.XLabels.Contains(label))
            {
                _lineConfig.Data.XLabels.Add(label);
            }
        }
    }

    //This function will setup each data point that is graphed on the line chart
    private LineDataset<int?> CreateLineDataset(string label)
    {
        return new LineDataset<int?>
        {
            Label = label,
            BorderWidth = 3,
            BorderColor = ColorUtil.FromDrawingColor(System.Drawing.Color.FromArgb(40, 255, 40)),
            PointHoverRadius = 4,
            PointRadius = 5,
            HoverBackgroundColor = ColorUtil.FromDrawingColor(System.Drawing.Color.FromArgb(200, 20, 20, 20)),
        };
    }

    //This gets the selected timeframe for the data, and calls for data using the desired timeframe
    private List<GoalQuestion> GetChartData()
    {
        int monthCount = timeFrames[selectedTimeFrame];

        //this calculates the time frame when selecting the ALL time frame
        if (monthCount == -1)
        {
            monthCount = GoalAgeAsMonths();
            // if 0, that means the goal was created this month
            if (monthCount == 0)
                monthCount = 1;
        }

        return GetQuestionDataByMonth(monthCount);
    }

    //This function sets up the chart itself, so it can be populated with data later
    private void CreateChart()
    {
        _lineConfig = new LineConfig
        {
            Options = new LineOptions
            {
                AspectRatio = 1,
                Responsive = true,

                Scales = new ChartJs.Blazor.LineChart.Scales
                {
                    XAxes = new List<CartesianAxis>
                    {
                        new CategoryAxis
                        {
                            Ticks = new CategoryTicks
                            {
                                AutoSkipPadding = 50,
                                Minor = new MinorTicks
                                {
                                    FontColor = "#9a259a",
                                },

                                Major = new MajorTicks
                                {
                                    Enabled = true,
                                    FontColor = "#00ff00",
                                }
                            }
                        }
                    },
                },

                Tooltips = new Tooltips
                {
                    BackgroundColor = "white",
                    BodyFontColor = "#000",
                    TitleFontColor = "#9a259a",
                    BodySpacing = 10,
                    TitleSpacing = 10,
                    TitleMarginBottom = 5,
                    DisplayColors = true,
                },

                Legend = new Legend
                {
                    Display = false,
                },

                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Question Data For " + selectedGoal.Title,
                },
            }
        };
    }

    //Get the age of goal in months
    private int GoalAgeAsMonths()
    {
        DateTime currentDate = DateTime.Now;
        string year = currentDate.ToString("yyyy");
        string month = currentDate.ToString("MMMM");
        string goalCreationDate = selectedGoal.GoalCreationDate;
        int monthCount = 0;
        bool stop = false;
        while (stop == false)
        {
            if (goalCreationDate.Contains(year) && goalCreationDate.Contains(month))
            {
                stop = true;
            }
            else
            {
                currentDate = currentDate.AddMonths(-1);
                year = currentDate.ToString("yyyy");
                month = currentDate.ToString("MMMM");
                monthCount++;
            }
        }

        return monthCount;
    }

    //gets range of data from present date to past x amount of months (ex: i want data from now to 6 months ago... input 6)
    private List<GoalQuestion> GetQuestionDataByMonth(int monthCount)
    {
        DateTime date = DateTime.Now;
        List<GoalQuestion> chartQuestionData = new();

        string currentMonth = date.ToString("MMMM");
        string currentYear = date.ToString("yyyy");
        //for each month, get the data for that month, then combine all requested month's data together into a list
        for(int i = 0; i <= monthCount; i++)
        {
            foreach(var question in selectedGoal.EntryData.GoalQuestions)
            {
                List<QuestionRating> questionRatings = new();

                foreach(var rating in question.ListQuestionRatings)
                {
                    if (rating.QuestionAnsweredDate.Contains(currentMonth) && rating.QuestionAnsweredDate.Contains(currentYear))
                    {
                        QuestionRating qrating = new()
                        {
                            Rating = rating.Rating,
                            QuestionAnsweredDate = rating.QuestionAnsweredDate
                        };

                        questionRatings.Add(rating);
                    }
                }

                GoalQuestion questionData = new()
                {
                    Question = question.Question,
                    ListQuestionRatings = questionRatings,
                };
                questionData.ListQuestionRatings.Reverse();
                chartQuestionData.Add(questionData);
            }
            
            date = date.AddMonths(-1);
            currentMonth = date.ToString("MMMM");
            currentYear = date.ToString("yyyy");
        }
        
        //remove empty data if there is no entry for in a month
        foreach (var goalQuestion in chartQuestionData.ToList())
        {
            if (goalQuestion.ListQuestionRatings.Count == 0)
                chartQuestionData.Remove(goalQuestion);
        }
        return chartQuestionData;
    }
}
